     <tr>
      <td class="{{lines_level}} big">{{lines_bar}}</td>
      <td class="{{lines_level}} small"><div align="right">{{lines_executed_percent}}</div></td>
      <td class="{{lines_level}} small"><div align="right">{{lines_number}}</div></td>
     </tr>

